[Unit]
Description=isu-ruby
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/private_isu/webapp/ruby
EnvironmentFile=/home/isucon/private_isu/webapp/env.sh
EnvironmentFile=/home/isucon/secret_env
Environment=RACK_ENV=production
PIDFile=/home/isucon/private_isu/webapp/ruby/unicorn.pid

User=isucon
Group=isucon
# ExecStart=/home/isucon/local/ruby/versions/3.3.0-dev/bin/bundle exec unicorn -c unicorn_config.rb
ExecStart=/home/isucon/local/ruby/versions/3.3.0-dev/bin/bundle exec puma -C config/puma_isucon.rb
ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s USR2 $MAINPID

[Install]
WantedBy=multi-user.target
